@using Dental_lab_Application_MVC_.Models.Enum
@model Dental_lab_Application_MVC_.Models.Dtos.CreateDoctorRequestModel
@{
    ViewData["Title"] = "CreateDoctor";
    Layout = null;
}


<html>
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        @{
            if (TempData["Success"] != null)
            {
                <div class="alert-success">
                    @TempData["Success"].ToString()
                </div>

            }
        }
        <h1>Please fill the data below</h1>
        <hr />
        <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateDoctor">

                <h3>Profile</h3>
                <div class="form-group">
                    <label asp-for="User.UserName" class="control-label"></label>
                    <input asp-for=" User.UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="User.UserEmail" class="control-label"></label>
                    <input asp-for=" User.UserEmail" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="User.Password" class="control-label"></label>
                    <input asp-for=" User.Password" type="password" class="form-control" />
                </div>
                @*    <div class="form-group">
                <label asp-for="User.ConfirmPassword" class="control-label"></label>
                <input asp-for=" User.ConfirmPassword" type="password" class="form-control" />
                </div> *@
                <div class="form-group">
                    <label asp-for=" Profile.FirstName" class="control-label"></label>
                    <input asp-for=" Profile.FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" asp-for="Profile.LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.Address" class="control-label"></label>
                    <input asp-for="Profile.Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.DateOfBirth" class="control-label"></label>
                    <input asp-for="Profile.DateOfBirth" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.Bio" class="control-label"></label>
                    <input asp-for="Profile.Bio" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.Contact" class="control-label"></label>
                    <input asp-for="Profile.Contact" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.Gender" class="control-label"></label>
                    <select asp-for="Profile.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.ProfilePicture" class="control-label"></label>
                    <input asp-for="Profile.ProfilePicture" type="file" class="form-control-file" />
                </div>
                <div class="form-group">
                    <label asp-for="Profile.SocialMediaLink" class="control-label"></label>
                    <input asp-for="Profile.SocialMediaLink" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Profile.Interests" class="control-label"></label>
                    <input asp-for="Profile.Interests" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for=" Profile.Skills" class="control-label"></label>
                    <input asp-for="Profile.Skills" class="form-control" />
                </div>
                <br />

                <h3>Doctor's information</h3>
                <div class="form-group">
                    <label asp-for="LicenseNumber" class="control-label"></label>
                    <input asp-for="LicenseNumber" class="form-control" />
                    <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Education" class="control-label"></label>
                    <input asp-for="Education" class="form-control" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearsOfExperience" class="control-label"></label>
                    <input asp-for="YearsOfExperience" class="form-control" />
                    <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specializations" class="control-label"></label>
                    <input asp-for="Specializations" class="form-control" />
                    <span asp-validation-for="Specializations" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

        <div>
        <a asp-action="Index">Back to Home</a>
    </div>

    </body>
</html>
