@using System.Security.Claims

@{
    Layout = null;
    if (TempData["Success"] != null)
    {
        <div class="alert-success">
            @TempData["Success"].ToString()
        </div>

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/DoctorDashBoard.css" asp-append-version="true" />
</head>
<body>
    <nav id="menu">
        <div class="logo">
            <img src="pictures/Logo.jpg" alt=" ">
            <h2>RYC Dental Lab</h2>
        </div>
        <div class="text-center">
            <header>
                <h1 id="welcomeMessage" class="display-4"> Welcome Dr @User.FindFirst(ClaimTypes.Name).Value </h1>
            </header>
        </div>

        <ul class="items">
            <li>
                <div class="dental services list">
                    <a asp-action="ViewAllDentalServices" asp-controller="DentalService"> Dental services</a>
                        <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="doctor service">
                    <a asp-action="UpdateDoctor" asp-controller="Doctor"> Update your Profile</a>
                        <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="doctor service">
                    <a asp-action="AllAssignedAppointmentsToADoctor" asp-controller="Appointment"> View Assigned Appointment</a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>
        </ul>

        <form id="logoutForm" asp-controller="User" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>

    </nav>
</body>
</html>

