@using System.Security.Claims
@{
    if(TempData["Success"] != null)
    {
        Layout = null;
        <div class="alert-success">
            @TempData["Success"].ToString()
        </div>
    }
}
<!DOCTYPE html>4
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/HeadDoctorDashBoard.css" asp-append-version="true" />
</head>
<body>
    <nav id="menu">
        <div class="logo">
            <img src="pictures/Logo.jpg" alt=" ">
            <h2>RYC Dental Lab</h2>
        </div>
        <div class="text-center">
            <header>
                <h1 id="welcomeMessage" class="display-4"> Welcome @User.FindFirst(ClaimTypes.Name).Value </h1>
            </header>
        </div>

        <ul class="items">

            <li>
                <div class="dental">
                    <a asp-action="CreateDentalService" asp-controller="DentalService"> Create Dental Service</a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="dental-service">
                    <a asp-action="ViewAllDentalServices" asp-controller="DentalService"> Update Dental Service </a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="view">
                    <a asp-action="ViewAllDoctors" asp-controller="Doctor"> View All Doctors</a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="view-all-patients">
                    <a asp-action="ViewAllPatient" asp-controller="Patient"> View All Patients</a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="appointment">
                    <a asp-action="GetAllInitializedAppointment" asp-controller="Appointment"> Assigned Appointment</a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>

            <li>
                <div class="dental-service">
                    <a asp-action="AllClosedAppointment" asp-controller="Appointment"> View All Closed Appointment </a>
                    <i class="fa fa-user"></i>
                    </a>
                </div>
            </li>
        </ul>

        <form id="logoutForm" asp-controller="User" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>

    </nav>
</body>
</html>


@*
<h1>i can sack a doctor.(work in progress)</h1> *@

