@model Dental_lab_Application_MVC_.Models.Dtos.PatientDto
@{
    ViewData["Title"] = "UpdatePatient";
}
@{
    if (TempData["Success"] != null)
    {
        <div class="alert-success">
            @TempData["Success"].ToString()
        </div>
    }
}

<h1>Update your Profile</h1>
<div class=" update">
    <form asp-action="UpdatePatientProfile">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" value="@Model?.FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" value="@Model?.LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" value="@Model?.Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bio" class="control-label"></label>
            <input asp-for="Bio" class="form-control" value="@Model?.Bio" />
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact" class="control-label"></label>
            <input asp-for="Contact" class="form-control" value="@Model?.Contact" />
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProfilePicture" class="control-label"></label>
            <input asp-for="ProfilePicture" type="file" class="form-control-file" value="@Model?.ProfilePicture" />
            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SocialMediaLink" class="control-label"></label>
            <input asp-for="SocialMediaLink" class="form-control" value="@Model?.SocialMediaLink" />
            <span asp-validation-for="SocialMediaLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Interests" class="control-label"></label>
            <input asp-for="Interests" class="form-control" value="@Model?.Interests" />
            <span asp-validation-for="Interests" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Skills" class="control-label"></label>
            <input asp-for="Skills" class="form-control" value="@Model?.Skills" />
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="User" asp-controller="PatientDashBoard">Back to dash board</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
