* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: deepskyblue;
}
.row {
    display: flex;
    color: currentcolor;
}
main.pb-3 {
    font-family: math;
}

body {
    background-color: skyblue;
    font-family: Arial, sans-serif;
    background-image: url(../pictures/alwaysSmile.jpg);
    background-size: cover;
    background-position: center;
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 250px;
    }
}
.form-group.login-form {
    display: contents;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Patient.row {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.col-md-4{
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

    .form-group input,
    .form-group select {
        font-size: 15px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
main {
    height: 49vh;
}



